/* @import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Staatliches&display=swap'); */

/* Tiny reset thingy */
body,html{
  margin: 0;
  padding:0;
  /* scroll-behavior: smooth; */
}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: scroll;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
  transform-style: preserve-3d;
}

section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.6);
  /* Force the background image to fill the whole element. */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

.cover {
  padding: 3%;
}

.bg1::after {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./raph_4-2.jpg');
}

.cover h1 {
  font-family: 'Staatliches', cursive;
  letter-spacing: .8em;
  font-size: 80px;
}

.cover span {
  font-size: 50px;
  line-height: 6rem;
  margin-left: 1%;
  font-family: 'Libre Barcode 39 Text', cursive;
}

.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0;
  margin: auto;
  /* padding-top: 500px; */
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

#sticky-phantom {
  display: none;
}

.navbar {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* The styling for the static div. */
.static {
  background: red;
}

/* Sets the actual background images to adorable kitties. This part is crucial. */


.bg2::after {
  background-image: url('./Raphael_1\ \(2\).jpg');
}