
body {
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

h1 {
  font-family: 'Staatliches', cursive;
  color: white;
  margin-bottom: 20px;
  /* text-shadow: 2px 3px 4px rgb(39, 39, 39); */
  letter-spacing: .6em;
  font-size: 450%;
}

.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./test.jpg');
  padding: 2%;
}

.title {
  margin: 4% auto;

}

#typed {
  color: white;
  font-size: 350%;
}

.cover span {
  font-size: 70px;
  line-height: 4rem;
  margin-left: 1%;
  font-family: 'Libre Barcode 39 Text', cursive;
}

.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0;
  margin: auto;
  /* padding-top: 500px; */
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.ct-btn-scroll i {
  color: white;
  animation-duration: 1.8s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.navbar {
  padding: 12px;
  transition: padding 0.4s;
  background-image: none;
}

.navbar-shrink {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.navbar-brand span {
  font-size: 3rem;
  font-family: 'Libre Barcode 39 Text', cursive;
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 15px;
}

.social i {
  color: white;
}

#sticky-phantom {
  visibility: hidden;
  /* display: none; */
}

.static {
  /* height: 100vh; */
  background: white;
  background-image: url('./5abb9b4976b97.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
  padding: 3%;
}

.static-title h1 {
  text-align: right;
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card-deck {
  margin: 2% 0;
}

.stats {
  margin: 0 auto;
}

.card {
  border: none;
}

.lang i {
  margin: 2% 1%;
}

.fa-robot, .fa-globe-americas {
  position: relative;
  top: 8px;
  margin-right: 1%;
}

.lang img {
  vertical-align: top;
  height: 2em;
  color: turquoise;
  margin: 2% 1%;
}

.lang-text {
  font-size: 1.5em;
}

.turquoise {
  color: turquoise;
  font-weight: 500;
}

.card-text {
  margin-top: 30px;
  font-family: 'Staatliches', cursive;
  color: #000;
  font-size: 1.5em;
}

.bg2 {
  background-image: url('./wood.jpg');
}

.pics {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}